header {
    width: 100%;
    padding: 32px 12%;
    background-color: rgb(40, 39, 39);
    position: sticky;
    top: 0;
}

#navbar {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav_logo {
    font-size: 20px;
    color: rgb(209, 209, 209);
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-item a {
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-weight: 700;
    font-size: large;
}

#cabecalho_buttos {
    display: flex;
    gap: 24px;
}

#cabecalho_buttons a{
    text-decoration: none;
    color: black;
}
